<%= form_for([@article, @comment], local: true) do |form| %>
  
  <% if flash[:errors_create_comment] %>
      Error Add Comment:
      <ul>
        <% flash[:errors_create_comment].each  do |msg| %>
          <li><%= msg %></li>
              <% end %>
      </ul>
  <% end %>
  <p>
    <%= form.label current_user.user_name %>
  </p>
 
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :body %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>